html {
  box-sizing: border-box;

  font: normal 100%/1.5 sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  min-width: 320px;
}

.banner {
  background-color: #2b3851;
  position: relative;
  width: 231px;

}

.robot {
  position: absolute;
  left: 20%;
  top: 50%;
  width: 320px;
  transform: translatex(-50%);
}

.robot-body {
  width: 320px;
}

.robot-brain {
  position: absolute;
  left: 43%;
  top: 0%;
  width: 46px;
}

.robot-head-left {
  position: absolute;
  left: 11%;
  top: 0;
  width: 125px;
}

.robot-head-right {
  position: absolute;
  right: 11%;
  top: 0;
  width: 125px;

}
